aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
appdirs==1.4.4
asgiref==3.4.0
async-timeout==3.0.1
attrs==21.2.0
black==21.6b0
chardet==4.0.0
click==8.0.1
deta==0.9
fastapi==0.65.2
fastapi-utils==0.2.1
greenlet==1.1.0
h11==0.12.0
idna==3.2
multidict==5.1.0
mypy-extensions==0.4.3
pathspec==0.8.1
pydantic==1.8.2
regex==2021.4.4
SQLAlchemy==1.4.20
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
yarl==1.6.3
